* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

@font-face {
  font-family: "tame impala";
  src: url("fonts/Microgramma\ D\ Extended\ Bold.otf");
}

p {
  font-family: tame impala;
  font-size: 0.9em;
}

body > div {
  position: absolute;
  z-index: 1000;
  background-image: none;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
}

body > div h2 {
  color: #f5b32d;
  text-transform: uppercase;
  font-family: tame impala;
  filter: url("#border-text");
  margin: 0;
}

body > div:hover {
  opacity: 1;
}

svg {
  position: absolute;
  width: 0;
}

/* //////////// */
/* ///HEADER/// */
/* //////////// */

section > header:first-of-type {
  --positionX: 5;
  --positionY: 5;
}

section > header:first-of-type h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--positionY) * 10%);
  left: calc(var(--positionX) * 10%);
  height: 10vw;
  width: 10%;
  font-size: clamp(0.8em, 1.3em, 4.5em);
  box-shadow: 2px 2px 7px black;

  background-image: radial-gradient(
      circle at 65% 25%,
      #f5f5f5 1%,
      #595959 10%,
      transparent 20%
    ),
    radial-gradient(circle at 77% 40%, #f5f5f5 1%, #595959 6%, transparent 20%),
    radial-gradient(
      ellipse at 70% 30%,
      #eeeded 10%,
      #5e5f5f 20%,
      transparent 50%
    ),
    radial-gradient(circle at 80% 40%, #646463, #000 60%, #646463 88%);
  border-radius: 50%;
  z-index: 1;

  perspective: 10em;
  transform-style: preserve-3d;
  transition: 0.5s;
}

section > header:first-of-type h1 span {
  position: absolute;
  text-shadow: 0 0.0625em 0.125em #00000088;
  animation: currents 3s infinite linear;
  color: #f5b32d;
}

section > header:first-of-type h1 span:nth-of-type(1) {
  animation-delay: 0s;
}
section > header:first-of-type h1 span:nth-of-type(2) {
  animation-delay: 0.3s;
}
section > header:first-of-type h1 span:nth-of-type(3) {
  animation-delay: 0.7s;
}
section > header:first-of-type h1 span:nth-of-type(4) {
  animation-delay: 1s;
}
section > header:first-of-type h1 span:nth-of-type(5) {
  animation-delay: 1.3s;
}
section > header:first-of-type h1 span:nth-of-type(6) {
  animation-delay: 1.6s;
}
section > header:first-of-type h1 span:nth-of-type(7) {
  animation-delay: 1.9s;
}
section > header:first-of-type h1 span:nth-of-type(8) {
  animation-delay: 2.2s;
}

@keyframes currents {
  0% {
    transform: rotateY(0) translateZ(6.5vw);
  }
  100% {
    transform: rotateY(-1turn) translateZ(6.5vw);
  }
}

/* //////////// */
/* ////MAIN//// */
/* //////////// */

@property --turnAround {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

/* @property --time {
  syntax: "<time>";
  inherits: true;
  initial-value: 1s;
} */

main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--turnAround), #ff2343, #f5b32d);
  /* padding: 2em; */
  /* animation: timer 5s linear infinite; */
}

main section {
  background-image: linear-gradient(var(--turnAround), #ff2343, #f5b32d);
  height: 100%;
}

@keyframes turnAround {
  0% {
    --turnAround: 180deg;
  }
  100% {
    --turnAround: 540deg;
  }
}

main p {
  cursor: default;
}

main h2 {
  font-family: tame impala;
}

/* //////////////// */
/* ////SECTIONS//// */
/* //////////////// */

main section:nth-child(1) {
  /* --time: 0.3s; */
  animation: turnAround 30s linear, turnAround 10s 30s linear 3,
    turnAround 2s 40s linear 4, turnAround 0.75s 42s linear infinite;
  background-image: linear-gradient(var(--turnAround), #ff2343, #f5b32d);
  overflow: hidden;
  height: 100vh;
}

main section:nth-child(1) p:not(header p:first-of-type) {
  backdrop-filter: blur(3px);
}

main section:nth-child(1) p:nth-of-type(1n) {
  animation: random 20s infinite linear 2s;
}

main section:nth-child(1) p:nth-last-of-type(1n) {
  animation: random 90s infinite linear -5s;
}

main section:nth-child(1) p:nth-of-type(2n) {
  animation: random 50s infinite linear -10s;
}

main section:nth-child(1) p:nth-last-of-type(2n) {
  animation: random 40s infinite linear -30s;
}

main section:nth-child(1) p:nth-of-type(3n) {
  animation: random 10s infinite ease-in-out -0.9s;
}

main section:nth-child(1) p:nth-last-of-type(3n) {
  animation: random 200s infinite linear -45s;
}

main section:nth-child(1) p:nth-of-type(4n) {
  animation: random 100s infinite linear -70s;
}

main section:nth-child(1) p:nth-last-of-type(4n) {
  animation: random 43s infinite linear -7;
}

@keyframes random {
  0% {
    transform: translate(0, -80%) rotate(30deg);
    color: black;
  }
  50% {
    transform: translate(-30%, 120%) rotate(-30deg);
    color: #946db8;
  }
  75% {
    transform: translate(60%, -25%);
    color: #f5b32d;
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
    color: #19b5c0;
  }
}

main section:nth-child(3) {
  perspective: 150vmin;
  height: 50em;
  font-size: 1em;
  font-weight: 600;
  line-height: 150%;
  text-align: justify;
}

main section:nth-child(3) header {
  color: black;
  font-size: 1em;
  margin-top: 5em;
}

main section:nth-child(3) div {
  position: relative;
  top: -100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: none;
  font-size: 1em;
  color: #8b5bb8;
  transform-origin: 50% 100%;
  animation: crawl 30s linear infinite;
}

main section:nth-child(3) div > p {
  text-shadow: 2px 1.5px 1px black;
  /* transform: scale(-1, -1); */
}

main section:nth-child(3) div:hover {
  opacity: 1;
}

main section:nth-child(6) {
  height: 100vh;
}

main section:target:not(:nth-child(6)) ~ section {
  display: none;
}

main section:nth-of-type(7) {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: fixed;
  height: 100vh;
  width: 100%;
}

main section:nth-child(7) {
  position: absolute;
  top: 0;
}

main section:nth-child(6):target ~ section:nth-child(7) {
  background-image: none;
}

@keyframes crawl {
  0% {
    top: -40em;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: 80em;
    transform: rotateX(25deg) translateZ(30em);
  }
}

/* @keyframes timer {
  0% {
    --time: 6s;
  }
  50% {
    --time: 0.3s;
  }
  100% {
    --time: 70s;
  }
} */

section p {
  max-width: 20em;
  white-space: pre-line;
}

section {
  display: none;
}

section:target {
  display: block;
  padding: 5em 10em;
}

/* ////////////// */
/* ////FOOTER//// */
/* ////////////// */
input {
  width: 0;
  height: 0;
  opacity: 0;
}

input:checked ~ label > div {
  animation: vinyl 1s infinite linear;
}

input:checked ~ footer {
  transform: translateY(0);
  transition: 1s;
}

label {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
}

label > div {
  width: 3em;
  height: 3em;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  background-image: radial-gradient(
      closest-side,
      #000 2.75%,
      #c60 3.25% 19.75%,
      #fff8 20.25% 22.75%,
      #c60 23.25% 39.75%,
      transparent 40.25%
    ),
    conic-gradient(#0008 25%, #0000 25% 50%, #0008 50% 75%, #0000 75%),
    repeating-radial-gradient(
      closest-side,
      transparent 0% 14.75%,
      #fff8 15.25% 17.75%,
      transparent 18.25% 20%
    );

  box-shadow: none;
}

label > div:after {
  position: absolute;
  bottom: 39%;
  right: 50%;
  transform: translate(50%);
  border: solid 1px #d9a388;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 27px #da5b33;
  content: "";
}

label > div:hover {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  background-color: #54762c;
  transform: translateY(100%);
  transition: 1s;
  overflow: hidden;
}

footer nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

footer nav a {
  text-decoration: none;
  color: #e72181;
  font-size: 1em;
  margin: 0.5em;
}

footer nav a:hover {
  color: #19b5c0;
}

/* //////////////// */
/* ///ANIMATIONS/// */
/* //////////////// */

@keyframes vinyl {
  0% {
    transform: rotate(0) translateY(0);
  }
  /* 50% {
    transform: rotate(180deg) translateY(2%);
  } */
  100% {
    transform: rotate(360deg) translateY(0);
  }
}

/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */
/* ////////////////////DIV GRID//////////////////// */
/* //////////////////////////////////////////////// */
/* //////////////////////////////////////////////// */

div {
  height: 10vh;
  z-index: 2;
  background-image: linear-gradient(90deg, #000, #946db8, #f3cce2 95%, #fff);
  transition: 2s;
  /* display: none; */
}

div:hover {
  opacity: 0;
  transition: 0.1s;
  box-shadow: 0px 0px 0px transparent;
}

div:nth-child(10n + 1):hover ~ div:nth-child(10n + 2) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 2):hover ~ div:nth-child(10n + 1) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 2):hover ~ div:nth-child(10n + 3) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 3):hover ~ div:nth-child(10n + 2) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 3):hover ~ div:nth-child(10n + 4) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 4):hover ~ div:nth-child(10n + 3) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 4):hover ~ div:nth-child(10n + 5) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 5):hover ~ div:nth-child(10n + 4) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 5):hover ~ div:nth-child(10n + 6) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 6):hover ~ div:nth-child(10n + 5) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 6):hover ~ div:nth-child(10n + 7) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 7):hover ~ div:nth-child(10n + 6) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 7):hover ~ div:nth-child(10n + 8) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 8):hover ~ div:nth-child(10n + 7) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 8):hover ~ div:nth-child(10n + 9) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 9):hover ~ div:nth-child(10n + 8) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(10n + 9):hover ~ div:nth-child(10n + 10) {
  transform: translateX(40%);
  transition: 0.5s;
}

div:nth-child(10n + 10):hover ~ div:nth-child(10n + 9) {
  transform: translateX(-40%);
  transition: 0.5s;
}

div:nth-child(1):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 0;
}

div:nth-child(2):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 0;
}

div:nth-child(3):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 0;
}

div:nth-child(4):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 0;
}

div:nth-child(5):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 0;
}

div:nth-child(6):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 0;
}

div:nth-child(7):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 0;
}

div:nth-child(8):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 0;
}

div:nth-child(9):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 0;
}

div:nth-child(10):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 0;
}

div:nth-child(11):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 1;
}

div:nth-child(12):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 1;
}

div:nth-child(13):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 1;
}

div:nth-child(14):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 1;
}

div:nth-child(15):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 1;
}

div:nth-child(16):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 1;
}

div:nth-child(17):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 1;
}

div:nth-child(18):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 1;
}

div:nth-child(19):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 1;
}

div:nth-child(20):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 1;
}

div:nth-child(21):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 2;
}

div:nth-child(22):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 2;
}

div:nth-child(23):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 2;
}

div:nth-child(24):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 2;
}

div:nth-child(25):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 2;
}

div:nth-child(26):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 2;
}

div:nth-child(27):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 2;
}

div:nth-child(28):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 2;
}

div:nth-child(29):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 2;
}

div:nth-child(30):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 2;
}

div:nth-child(31):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 3;
}

div:nth-child(32):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 3;
}

div:nth-child(33):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 3;
}

div:nth-child(34):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 3;
}

div:nth-child(35):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 3;
}

div:nth-child(36):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 3;
}

div:nth-child(37):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 3;
}

div:nth-child(38):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 3;
}

div:nth-child(39):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 3;
}

div:nth-child(40):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 3;
}

div:nth-child(41):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 4;
}

div:nth-child(42):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 4;
}

div:nth-child(43):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 4;
}

div:nth-child(44):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 4;
}

div:nth-child(45):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 4;
}

div:nth-child(46):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 4;
}

div:nth-child(47):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 4;
}

div:nth-child(48):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 4;
}

div:nth-child(49):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 4;
}

div:nth-child(50):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 4;
}

div:nth-child(51):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 5;
}

div:nth-child(52):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 5;
}

div:nth-child(53):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 5;
}

div:nth-child(54):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 5;
}

div:nth-child(55):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 5;
}

div:nth-child(56):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 5;
}

div:nth-child(57):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 5;
}

div:nth-child(58):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 5;
}

div:nth-child(59):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 5;
}

div:nth-child(60):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 5;
}

div:nth-child(61):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 6;
}

div:nth-child(62):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 6;
}

div:nth-child(63):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 6;
}

div:nth-child(64):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 6;
}

div:nth-child(65):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 6;
}

div:nth-child(66):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 6;
}

div:nth-child(67):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 6;
}

div:nth-child(68):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 6;
}

div:nth-child(69):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 6;
}

div:nth-child(70):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 6;
}

div:nth-child(71):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 7;
}

div:nth-child(72):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 7;
}

div:nth-child(73):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 7;
}

div:nth-child(74):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 7;
}

div:nth-child(75):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 7;
}

div:nth-child(76):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 7;
}

div:nth-child(77):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 7;
}

div:nth-child(78):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 7;
}

div:nth-child(79):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 7;
}

div:nth-child(80):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 7;
}

div:nth-child(81):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 8;
}

div:nth-child(82):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 8;
}

div:nth-child(83):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 8;
}

div:nth-child(84):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 8;
}

div:nth-child(85):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 8;
}

div:nth-child(86):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 8;
}

div:nth-child(87):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 8;
}

div:nth-child(88):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 8;
}

div:nth-child(89):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 8;
}

div:nth-child(90):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 8;
}

div:nth-child(91):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 9;
}

div:nth-child(92):hover ~ header:first-of-type h1 {
  --positionX: 1;
  --positionY: 9;
}

div:nth-child(93):hover ~ header:first-of-type h1 {
  --positionX: 2;
  --positionY: 9;
}

div:nth-child(94):hover ~ header:first-of-type h1 {
  --positionX: 3;
  --positionY: 9;
}

div:nth-child(95):hover ~ header:first-of-type h1 {
  --positionX: 4;
  --positionY: 9;
}

div:nth-child(96):hover ~ header:first-of-type h1 {
  --positionX: 5;
  --positionY: 9;
}

div:nth-child(97):hover ~ header:first-of-type h1 {
  --positionX: 6;
  --positionY: 9;
}

div:nth-child(98):hover ~ header:first-of-type h1 {
  --positionX: 7;
  --positionY: 9;
}

div:nth-child(99):hover ~ header:first-of-type h1 {
  --positionX: 8;
  --positionY: 9;
}

div:nth-child(100):hover ~ header:first-of-type h1 {
  --positionX: 9;
  --positionY: 9;
}

div:nth-child(101):hover ~ header:first-of-type h1 {
  --positionX: 0;
  --positionY: 10;
}
